.drawer {
  padding: 20px;
}

.menuTitle {
  margin-bottom: 20px;
}

.divider {
  margin: 20px 0;
}

.paper {
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 10px;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButtonText {
  display: flex;
  align-items: center;
}

.socialIcon {
  margin-right: 10px;
}
