.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.errorMessage {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.homeLink {
  font-size: 1.5rem;
  color: var(--mantine-color-primary-5);
  text-decoration: none;
}

.homeLink:hover,
.homeLink:focus,
.homeLink:active {
  text-decoration: underline;
}

.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.stack {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: var(--mantine-color-primary-6);
}

.text {
  text-align: center;
  margin: 1rem 0;
}

.box {
  display: flex;
  justify-content: center;
}

.button {
  min-width: 200px;
}
