.articleStack {
  gap: 1.5rem;
}

.articleLink {
  text-decoration: none;
  color: inherit;
}

.placeholderBox {
  background-color: rgba(var(--mantine-color-vaporwave-6-rgb), 0.4);
  border-radius: 0.5rem;
}
